.label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #008080;

}

.button .addContact {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #000000;
}

.menu .label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #800080;
  -fx-border-width: 0px;
}

#my-editbutton {
  -fx-font-size: 12px;
}

